extends layout

block content

	// TODO: Remove this!
	//h2 Exchange client's authorization grant for a client access token
	//a(id="auth_link", href="javascript:void(0);") Authenticate ScienceKit
	//p(id="token_response") no token received

	//h2 Request Resource (on behalf of owner that granted authorization)
	//a(id="account-list", href="javascript:void(0);") Request resource (using access token)
	//p(id="resource_response") no resource received

	.edge(id="top", style="text-align: right; font-size: 30px; padding-right: 10px; z-index: 1000;")
		//a(a(href="javscript:void(0);", onclick="generateStory();") 
		//	img(src="./img/story-time.png", alt="story time")
		//a(href="javascript:void(0);", onclick="scrollTickle();") 
		//	img(src="./img/search.png", alt="search") 
		a(href="javascript:void(0);", onclick="showHiddenFrames();") 
			img(src="./img/history.png", alt="show whole story") 
		a(href="./timeline.html") 
			img(src="./img/refresh.png", alt="refresh") 
		a(href="javscript:void(0);", onclick="scrollToTop();") 
			img(src="./img/up-arrow.png", alt="top")

	//
	// Templates for Timeline Widgets (this is not visible)
	//

	.narrative-templates(id="narrative-templates")

		// Template timeline widgets
		include widget-templates



		
	//
	// Top of interface
	//

	div(style="display: table; width: 100%; margin: 0px; margin-top: 20px; padding: 0px;")

		//
		// Link to "previous timeline" (if any)
		//

		div(style="display: table-row;", id="previous-timeline-widget")
			div(style="display: table-cell; text-align: center; vertical-align: middle; width: 70px; background-image: url(./img/timeline-edge-to-previous.png); background-repeat: no-repeat; background-position: right bottom;")
				img(src="./img/blank.png", width="72", height="50", style="padding: 0px;")
				
				
			div(style="display: table-cell; width: 100%; padding-left: 10px;")
				p(style="font-size: 40px; margin-top: 40px; color: #bbbbbb; margin-bottom: 35px;")
					a(class="link", href="javascript:void(0);") go back

		//
		// ScienceKit logo (shown on "default" timeline)
		//

		div(style="display: table-row;", id="sciencekit-logo")
			div(style="display: table-cell; text-align: center; vertical-align: middle; width: 30px;")
				img(src="./img/blank.png", width="50", height="50", style="padding: 10px;")
				
			div(style="display: table-cell; width: 100%; border-left: 2px solid #f16521; padding-left: 10px;")
				img(id="logo", src="./img/sciencekit-logo.png", alt="sciencekit logo", style="margin-top: 50px;")

		//
		// Timeline introductory text (e.g., "once upon a time")
		//

		div(style="display: table-row;", id="timeline-intro-text")
			div(style="display: table-cell; text-align: center; vertical-align: middle; width: 30px;")
				img(src="./img/blank.png", width="30", height="30", style="padding: 10px;")

			div(style="display: table-cell; width: 100%; border-left: 2px solid #f16521; padding-left: 10px;")
				p(id="beginning", class="tagline") once upon a time

	//
	// Timeline interface
	//

	ul(id="narrative-list")

	.edge(id="bottom", style="text-align: right; font-size: 30px; padding-right: 10px;")
		a(href="javscript:void(0);", onclick="scrollToBottom();") 
			img(src="./img/down-arrow.png", alt="bottom", style="position: absolute; bottom: 0px; right: 0px;") 

	.float-action(id="footer")
		.float-action-edge
			a(href="javscript:void(0);", onclick="scrollToBottom();") 
				img(src="./img/down-arrow.png", alt="bottom", style="position: absolute; bottom: 0px; right: 0px;") 
		.float-action-body
			img(src="./img/thought.png", width="50", height="50") 
			img(src="./img/camera.png", width="50", height="50") 
			img(src="./img/video.png", width="50", height="50") 
			//img(src="./img/topic.png", width="50", height="50")

	//
	// Bottom of interface
	//

	mixin option(name, frameType, imageUri, clickEventHandler)
		div(style='background-image: url(#{imageUri}); background-repeat:no-repeat; background-position:3px 0px; height: 70px; padding-left: 118px; padding-top: 34px; font-size: 30px;')
			a(id="create-#{frameType}-button", data-artifact-type="#{frameType}", href="javascript:void(0);", onclick='#{clickEventHandler}') #{name}

	div(style="display: table; width: 100%; margin: 0px; margin-bottom: 80px; padding: 0px;")
		div(style="display: table-row;")
			div(style="display: table-cell; text-align: center; vertical-align: middle; width: 30px;")
				img(src="./img/blank.png", width="50", height="50", style="padding: 10px;")
				
			div(style="display: table-cell; width: 100%; padding-left: 10px; padding-top: 20px;")
				//p(class="tagline") and now <strong>you</strong> do something
				p(class="tagline") and then what happened?

		div(style="display: table-row;")
			div(style="display: table-cell; text-align: center; vertical-align: middle; width: 50px;")
				div(id="avatar-container", style="border-radius: 8px; background-image: url('./img/blank.png'); background-size: 50px 50px; margin: 10px; width: 50px; height: 50px;")
				//img(id="kit-avatar", src="./img/blank.png", width="50", height="50", style="padding: 10px; border-radius: 8px;")

			div(style="display: table-cell; width: 100%; padding-left: 10px;")

				div(style="display: table; width: 100%;")
					div(style="display: table-row;")
						div(style="display: table-cell;")
							mixin option('thought', 'thought', './img/thought.png', 'addThoughtWidget();')
						div(style="display: table-cell;")
							mixin option('video', 'video', './img/video.png', 'captureVideo2();')
						div(style="display: table-cell;")
							mixin option('motion', 'motion', './img/graph.png', 'captureMotion();')
						
						//div(style="display: table-cell;")
						//	mixin option('topic', 'topic', './img/topic.png', 'addTopicWidget();')
					div(style="display: table-row;")
						div(style="display: table-cell;")
							mixin option('sketch', 'sketch', './img/palette.png', 'openSketchTool();')
						div(style="display: table-cell;")
							mixin option('photo', 'photo', './img/camera.png', 'capturePhotoToURI();')
						div(style="display: table-cell;")
							mixin option('narrate', 'narrate', './img/typewriter.png', 'openNarrateTool();')

				//mixin option('avatar', 'avatar', './img/camera.png', 'captureAvatarToURI();')

				// question
				// cause and effect
				// step by step
				// note
				// voice
				// collage
				// measurement
				// tag
				// time
				// compass
				// vibration
				// madlib
				// 5x chat

	//
	// "Storybook" interface
	//
	.float-page(id="float-page")
		.float-page-table
			p(class="float-page-p")
				| once upon a time

	//
	// Photo page interface
	//
	.float-page(id="photo-page")
		.float-page-table

			.float-page-row
				.float-page-cell(style='text-align: right; vertical-align: middle; padding-right: 30px;')
					img(class="hide", src="./img/cross-gray.png")

			p(class="float-page-p")
				img(class="photo", src="./img/camera.png", width="900", height="900")

	//
	// Video page interface
	//
	.float-page(id="video-page")
		.float-page-table
			
			.float-page-row
				.float-page-cell(style='text-align: right; vertical-align: middle; padding-right: 30px;')
					img(class="hide", src="./img/cross-gray.png")

			.float-page-row
				p(class="float-page-p")
					video(class="video", width="640", height="480", source="", controls)

	//
	// "Motion" tool interface
	//
	.tool-widget(id="motion-tool")
		.tool-table

			//
			// Header
			//

			.tool-table-row
				.tool-table-cell(style='text-align: right; vertical-align: middle; padding-right: 30px; padding-top: 30px;')
					img(class="close", src="./img/cross-gray.png")

			//
			// Body
			//
			.tool-table-row
				.tool-table-cell(style="vertical-align: middle; text-align: center; height: 100%; width: 100%;")
					canvas(class="canvas", width="768", height="512", style="background-color: #ffffff;")
					// script to initialize canvas, graph event handlers
					// - set up handler to grab buffered data upon close, format it, send it to the server, get response, create new element

			//
			// Footer
			//

			.tool-table-row
				.tool-table-cell
					| &nbsp;

	//
	// "Sketch" tool interface
	//
	.tool-widget(id="sketch-tool")
		.tool-table

			//
			// Header
			//

			.tool-table-row
				.tool-table-cell(style='text-align: right; vertical-align: middle; padding-right: 30px; padding-top: 30px;')
					img(class="close", src="./img/cross-gray.png")

			//
			// Body
			//
			.tool-table-row
				.tool-table-cell(style="vertical-align: middle; text-align: center; height: 100%; width: 100%;")
					canvas(class="canvas", width="768", height="512", style="background-color: #ffffff;")
					// script to initialize canvas, graph event handlers
					// - set up handler to grab buffered data upon close, format it, send it to the server, get response, create new element

			//
			// Footer
			//

			.tool-table-row
				.tool-table-cell
					| &nbsp;




		








	script
		window.onload = function() {

			// Set up PhoneGap event listeners
			document.addEventListener("deviceready", onDeviceReady, false);

			//localStorage['host'] = 'http://192.168.1.41:3000';

			// Initialize web socket connection for real-time collaboration
			connectWebSocket();

			// Define interaction event listeners

			// Initialize GUI event listeners
			$('#outgoingChatMessage').keypress(function(event) {
				if(event.which == 13) {
					event.preventDefault();

					// var oauthAccessToken = $('#token_response').text(); // Get access token
					var oauthAccessToken = localStorage['token'];
					var messageText = $('#outgoingChatMessage').val();
					var message = JSON.stringify({ 'token': oauthAccessToken, 'message': messageText });

					console.log('Sending message: ' + message);
					socketio.send(message);
					$('#incomingChatMessages').append($('<li></li>').text($('#outgoingChatMessage').val()));
					$('#outgoingChatMessage').val('');
				}
			});






			// Initialize interface
			$('#float-page').hide();
			$('#photo-page').hide();
			$('#video-page').hide();
			$('#motion-tool').hide();
			$('#sketch-tool').hide();

			$('#previous-timeline-widget').hide();

			// Populate timeline
			getTimeline();

			// Add handler for interrupting automatic scrolling
			$('body,html').bind("scroll mousedown DOMMouseScroll mousewheel keyup", function(e) {
				if ( e.which > 0 || e.type === "mousedown" || e.type === "mousewheel") {
					console.log('Canceling autoscrolling animation.');
					clearTimeout($.data(document, 'timer'));
					$("html,body").stop();
				}
			});

			// Set time to scroll to bottom
			/*
			$.data(document, 'timer', setTimeout(function() {
				scrollToBottom();
			}, 2000));
			*/

			// Get Account
			// getAvatar();

			//scrollToBottom();

			// orientationchange

			// gesturestart

			// gesturechange

			// gestureend
		}

		// Show options when scroll up, hide when scroll down
		var prevPosition = 0;
		window.onscroll = function() {
			// console.log("scroll event detected! " + window.pageXOffset + " " + window.pageYOffset);

			var currPosition = window.pageYOffset;
			var delta = currPosition - prevPosition;
			prevPosition = currPosition;
			//console.log(delta);

			// Show or hide bottom shortcuts
			if(delta > 10) {
				$("#footer").slideUp();
			} else if (delta < -10) {
				$("#footer").slideDown();
			}

			// Update widget with focus (closest to center)
			/*
			var closestWidget = null;
			var closestDistance = -1;
			var timelineList = $('#narrative-list li').get();
			for(var i = 0; i < timelineList.length; i++) {
				$(timelineList[i]).find('.element .options').css('visibility', 'hidden');

				var widgetTop = Math.abs($(timelineList[i]).position().top - (currPosition + window.innerHeight / 2));
				if (closestDistance == -1 || (widgetTop < closestDistance)) {
					closestWidget = $(timelineList[i]);
					closestDistance = widgetTop;
				}
			}
			console.log('Widget with focus: ' + $(closestWidget).attr('id'));
			$(closestWidget).find('.element .options').css('visibility', 'visible');
			*/
		}

		// Scroll to element

		function generateStory() {
			// TODO: Take into account voting!

			// Show the introduction
			$('#float-page').fadeIn().delay(2000).fadeOut();

			// Generate list of "pages" to include in story
			var timelineList = $('#narrative-list li').get();
			var timelineHighlights = [ 0, 13, 19, 37, 55, 68 ];

			// Scroll through the pages
			$("html,body").stop().delay(1000);
			for(var i = 0; i < 6; i++) {
				$('html,body').animate({ scrollTop: $(timelineList[(timelineHighlights[i])]).offset().top }, 1000).delay(1000);
			}

			// Scroll to "end point" of story
			//$('html,body').animate({ scrollTop: $('#sciencekit-small-logo').offset().top }, 1000);
			$('html,body').animate({ scrollTop: document.body.scrollHeight }, 1000);
		}

		function generatePage() {
			// Show full-screen
			// Show controls for "next" and "previous" page
			// Let interact with page/timeline
		}

		function generatePhotoPage(event) {

			// Set image
			var imageUri = $(event.target).attr('src');
			$('#photo-page').find('.photo').attr('src', imageUri);

			// Show the introduction
			$('#photo-page').fadeIn();

			// Set up event handlers
			$('#photo-page').find('.hide').off('click');
			$('#photo-page').find('.hide').click(function () {
				$('#photo-page').fadeOut();
			});
		}

		function generateVideoPage(event) {

			// Set video
			var videoUri = $(event.target).find('.source').attr('src');
			$('#video-page').find('.video').attr('src', videoUri);

			// Show the introduction
			$('#video-page').fadeIn();

			// Set up event handlers
			$('#video-page').find('.hide').off('click');
			$('#video-page').find('.hide').click(function () {
				$('#video-page').fadeOut();
			});
		}

		

		function scrollToTop() {
			$('html,body').animate({ scrollTop: 0 }, 1000);
		}

		function scrollToBottom() {
			//$('html,body').animate({ scrollTop: $('#sciencekit-small-logo').offset().top }, 1000);
			//$('html,body').animate({ scrollTop: document.body.scrollHeight }, 1000);
			$('html,body').animate({ scrollTop: document.body.clientHeight }, 1000);
		}

		function scrollTickle() {
			var range = 70;
			var ms = 110;
			var iterations = 2;
			var position = $(window).scrollTop();
			for(var i = 0; i < iterations; i++) {
				$('html,body').animate({ scrollTop: position + range }, ms);
				$('html,body').animate({ scrollTop: position - range }, ms);
			}
			$('html,body').animate({ scrollTop: position }, ms);
			return false;
		}

		// x = 0;  //horizontal coord
		// y = document.height; //vertical coord
		// window.scroll(x,y);
		//$('#beginning').hide();
		//$('#beginning').fadeIn(3000);
		


		// Wire up interface
		$('#create-thought-button').click(function() {

			// Add question to list immediately
			//var e = addThoughtWidget();

			//return false;
		});

		$('#create-topic-button').click(function() {
			//var e = addTopicWidget();
			//return false;
		});

		$('#create-question-button').click(function() {
			return false;
		});

		$('#create-cause-and-effect-button').click(function() {
			return false;
		});

		$('#create-step-by-step-button').click(function() {

			// Add question to list immediately
			addStepByStep({});

			return false;
		});

		$('#create-note-button').click(function() {

			// Add question to list immediately
			addNote({});

			return false;
		});
